<!DOCTYPE html>
<html>
<head>
<style>
.grid-skills {
  background-color: #654321;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 8px;
  text-align: center;
}

.grid-container-timeline {
  display: grid;
  grid-template-columns: 100%;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container-title {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  background-color: #0000F3;
  padding: 10px;
}

.grid-title-left {
  background-color: rgba(255, 255, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.grid-link {
  background-color: rgba(0, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-tech-stack {
  background-color: rgba(0, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-project-description {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 10px;
  text-align: left;
}

.grid-project-tasks {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 10px;
  text-align: left;
}
</style>
</head>
<body>

<h1>display: grid</h1>

<p>Use display: grid; to make a block-level grid container:</p>
<div class="grid-container-timeline">
  <div class="grid-container-title">
    <div class="grid-title-left">Project 1</div>
    <div class="grid-link">Link</div>
    <div class="grid-tech-stack">Tech</div>
  </div>
  <div class="grid-project-description">Desc</div>
  <div class="grid-project-tasks">Tasks 2</div>
  <div class="grid-container-title">
    <div class="grid-title-left">Project 1</div>
    <div class="grid-link">Link</div>
    <div class="grid-tech-stack">Tech</div>  </div>
  <div class="grid-project-description">Desc</div>
  <div class="grid-project-tasks">Tasks 2</div>
  <div class="grid-container-title">
    <div class="grid-title-left">Project 1</div>
    <div class="grid-link">Link</div>
    <div class="grid-tech-stack">Tech</div></div>
  <div class="grid-project-description">Desc</div>
  <div class="grid-project-tasks">Tasks 2</div>
</div>



</body>
</html>


