<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been contacted by <%= @name %> <%= @last_name %></h1>
    <p>Their message is:</p>
    <p>
      <%= @message %><br>
    </p>

  </body>
</html>